*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Overpass', sans-serif;
    /* color:  hsl(0, 0%, 100%); */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    padding: 4.50rem 7.00rem;
    height: 550px;
    background: url("../assets/images/bg-pattern-intro-desktop.svg"), linear-gradient(270deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    /* border: solid lightgray 1px; */
    border-radius: 0 0 0 5.5rem;
    /* background-color: rgba(132, 110, 110, 0.5);
    background-color: #FF7B86;
    background-blend-mode: overlay; */
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;

}

body {}

.main-nav {
    display: flex;
}

.nav-list {
    display: flex;
}

.nav-list li {
    margin-right: 4.00rem;
}

.nav-items {
    display: flex;
    align-items: center;
}

li a {
    color: #fff;
}

nav {
    margin-left: 4rem;
}

.dropdown-icon-wrapper {
    margin: 5px;
    position: relative;

}

.dropdown-icon {
    position: absolute;
    height: 10px;
    top: 0px;
    color: #fff;
}

.mobile-only {
    display: none;
}

.auth-links {
    margin-left: auto;
}

.auth-links ul {
    display: flex;
    align-items: center;
}

.auth-links ul li {
    /* padding: 15px; */
    margin-right: 2.50rem;
}

button .color-orange {
    color: #FF7B86;
    font-weight: 600;
}

li button {
    padding: 0.55rem 1rem;
    border-radius: 1.75rem;
    border-style: none;
}

.header-caption-wrapper {
    margin-top: 6.75rem;
    text-align: center;
}

h1 {
    color: #fff;
    font-size: 3.0rem;
    margin-bottom: 1.15rem;
}

.header-caption-wrapper p {
    color: #fff;
    margin-bottom: 2.20rem;
    font-size: 1.5rem;
}

.btn-wrapper button {
    margin-right: .50rem;
    padding: 0.55rem 1rem;
    border-radius: 1.75rem;
    border-style: none;
    color: #FF7B86;
    border-color: #fff;
}

.btn-wrapper .bg-orange {
    background: hsl(353, 100%, 62%);
    color: #fff;
    font-weight: 600;
    border: 1px solid #fff;
    font-size: 1.0rem;
}

.btn-wrapper .bg-white {
    font-size: 1.0rem;
    font-weight: 600;
}

.content-wrapper {
    display: flex;
    width: 100%;
    /* height: 700px; */
    margin-top: 3.75rem;

}

.content-item-1 {
    margin-top: -1.5rem;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 45%;
}

.h2-wrapper-on-mobile {
    display: none;
}

.h2-wrapper {
    margin-right: -6.5rem;
    margin-top: 20px;
}

.h2-wrapper h2 {
    text-align: end;
    margin-top: 5.5rem;
    font-weight: 600;
    font-size: xx-large;
    font-family: 'Overpass', sans-serif;
}

.article-1 h3 {
    margin-left: 7.0rem;
    margin-top: 6.5rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
}

.article-1 p {
    text-justify: inherit;
    margin-left: 7.0rem;
    margin-top: 1.5rem;
    font-weight: 300;
    font-family: 'overpass', sans-serif;
}

.article-2 h3 {
    margin-left: 7.0rem;
    margin-top: 3.75rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
}

.article-2 p {
    text-justify: inherit;
    margin-left: 7.0rem;
    margin-top: 1.5rem;
    font-weight: 300;
    font-family: 'overpass', sans-serif;
}

.content-item-2 {
    width: 55%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    height: 50%;
    position: relative;
}

.illustration-editor-mobile {
    display: none;
}

.content-item-2 .illustration-editor-desktop {
    width: 115%;
    position: relative;

}

.pattern-circle {
    margin-top: 3.0rem;
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    height: 400px;
    border: 1px dashed black;
    background: url("/assets/images/bg-pattern-circles.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: hsl(207, 13%, 34%);
    background-color: hsl(240, 10%, 16%);
    border: 1px hsl(240, 10%, 16%) solid;
    border-radius: 0 5.5rem 0 5.5rem;
}

.phone-wrapper {
    width: 40%;
    margin-left: 5.5rem;
}

.phone-wrapper img {
    width: 100%;
    height: 125%;

}

.infra-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
    padding-left: 0;
    padding: 5.5rem;
}

.infra-wrapper h2 {
    margin-bottom: 25px;
}

.second-section-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 6.0rem;
    /* border: 1px solid blue;  */
    height: 600px;
}

.illustration-laptop-mobile {
    display: none;
}

.laptop-img-container {
    width: 50%;
    position: relative;
}

.laptop-img-container .illustration-laptop-desktop {
    position: absolute;
    left: -13.95rem;
    width: 125%;
}

.about-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-1 p {
    margin-top: 1.5rem;
}

.item-2 h3 {
    margin-top: 3rem;
}

.item-2 p {
    margin: 1.5rem 0rem 0;
}

footer {
    margin-top: 7.5rem;
    background: hsl(240, 10%, 16%);
    border: solid 1px hsl(240, 10%, 16%);
    border-radius: 0 4.5rem 0 0;
    height: 250px;
}

.secondary-nav-wrapper {
    margin: 0px 8.5rem;
    display: flex;
    margin-top: 3.5rem;
}

.secondary-nav-wrapper ul {
    display: flex;
    margin-left: 9.5rem;
    align-items: center;
    align-items: center;
    overflow-x: hidden;
}

.secondary-nav-wrapper ul li {
    margin-right: 7.5rem;
    color: #fff;
    font-family: inherit;
    font-weight: inherit;
}

.secondary-nav-wrapper ul li a {
    justify-content: center;
}

.last-li {
    margin-right: 0rem;
}

ul .sub-nav {
    margin-left: 0px;
    align-items: start;
}

.sub-nav {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

}

.sub-nav-header {
    font-weight: 600;
    font-size: 1.0rem;
}

.second {
    margin-top: 2.5rem;
}

.third {
    margin-top: 3.0rem;
}

.sub-nav li {
    margin-bottom: .5rem;
}

/* .secondary-nav-wrapper {
    margin: 0 8.5rem;
    display: flex;
    margin-top: 3.5rem;
}
.secondary-nav-wrapper ul {
    display: flex;
    margin-left: 10.5rem;
    align-items: center;
}
.secondary-nav-wrapper ul li {
    margin-right: 10.5rem;
    color: #fff;
    font-family: inherit;
    font-weight: inherit;
}
.third-nav {
    display: flex;
    margin-left: 25rem;
    margin-top: 0.5rem;
}
.part-1 {
    margin-right: 9.0rem;
}

.part-2 {
    margin-right: 10.75rem;
}

.part-1 li {
    color: #fff;
    margin: 0.5rem;
}
.part-1 li a {
    font-weight: 300;
    font-size: small;
}

.part-2 li {
    color: #fff;
    margin: 0.5rem;
}
.part-2 li a {
    font-size: small;
}

.part-3 li {
    color: #fff;
    margin: 0.5rem;
}
.part-3 li a {
    font-size: small;
}
.mobile-footer {
    display: none;
} */





.nav-item {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    padding: 7px;

}

.nav-item:hover .dropdown-menu {
    display: block;
    position: absolute;
    bottom: auto;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 10px;
    /* box-shadow: 0px 5px 30px -8px hsl(0, 0%, 41%); */
    box-shadow: 0px 3px 5px -3px hsl(0, 0%, 41%);
    word-spacing: normal;
    width: 110px;

}

.dropdown-menu a {
    color: #000;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 3.0px;
    padding: 1rem 0.1rem;
}

a:hover {
    text-decoration: underline;
}



.arrow-down {
    transform: rotateX(0deg);
    transition: 1s;
}

.nav-item:hover .arrow-down {
    transform: rotateX(180deg);
    transition: 1s;


}


.dropdown-nav-item {
    display: flex;
    position: relative;
}


.dropdown-nav-item:hover+.dropdown-menu {
    display: block;

}

.nav-items .dropdown-nav-item:hover {
    text-decoration: underline;
    color: 2px solid #fff;

}

.sub-nav-header:hover {
    text-decoration: underline;
    color: #fff;
    margin-top: 10px;
}

@media (max-width: 768px) {
    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    nav {
        display: none;
    }

    .auth-links {
        display: none;
    }

    .hamburger-wrapper {
        margin-left: auto;
        display: inline-block;
    }

    header {
        padding: 4.5rem 2.5rem;
        height: 550px;

    }

    .header-caption-wrapper {
        width: 100%;
        margin-top: 2.5rem;
        text-align: center;
        padding: 5px;
        align-items: center;
    }

    h1 {
        color: #fff;
        font-size: 3.0rem;
        margin-bottom: 1.15rem;
    }

    .header-caption-wrapper p {
        color: #fff;
        margin-bottom: 2.20rem;
        font-size: 1.10rem;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        margin-bottom: 15px;

    }

    .content-item-1 {

        margin-top: 30rem;
        display: flex;
        flex-direction: none;
        /* border: 2px solid black; */
        width: 100%;
    }

    .h2-wrapper-on-mobile {
        display: block;
        text-align: center;
        margin-top: 20px;
    }

    .h2-wrapper-on-mobile h2 {

        margin-top: 5.5rem;
        font-weight: 600;
        font-size: xx-large;
        font-family: 'Overpass', sans-serif;
    }

    .h2-wrapper h2 {
        display: none;
    }

    .article-1 {
        text-align: center;
        padding: 25px;
    }

    .article-1 h3 {
        margin-left: 0.0rem;
        margin-top: 2.75rem;
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        font-size: x-large;
    }

    .article-1 p {
        text-justify: inherit;
        margin-left: 0.0rem;
        margin-top: 1.5rem;
        font-weight: 300;
        font-family: 'overpass', sans-serif;
    }

    .article-2 {
        text-align: center;
        padding: 25px;
    }

    .article-2 h3 {
        margin-left: 0.0rem;
        margin-top: 1.75rem;
        font-family: 'Overpass', sans-serif;
        font-weight: 600;
        font-size: x-large;
    }

    .article-2 p {
        text-justify: inherit;
        margin-left: 0.0rem;
        margin-top: 1.5rem;
        font-weight: 300;
        font-family: 'overpass', sans-serif;
    }



    .content-item-2 {
        width: 100%;
        overflow-x: visible;
        overflow-y: visible;
        height: 100%;
        height: 50%;

    }

    .illustration-editor-desktop {
        display: none;
    }

    .content-item-2 .illustration-editor-mobile {
        display: block;
        width: 100%;
        position: absolute;
        top: 0px;

    }

    .pattern-circle {
        position: relative;
        margin-top: 30rem;
        width: 100%;
        margin-top: 10rem;
        display: block;
        height: 600px;
        border: 1px dashed black;
        background: url("/assets/images/bg-pattern-circles.svg");
        background-position: left bottom;
        background-repeat: no-repeat;
        background-color: hsl(207, 13%, 34%);
        background-color: hsl(240, 10%, 16%);
        border: 1px hsl(240, 10%, 16%) solid;
        border-radius: 0 5.5rem 0 5.5rem;
    }

    .phone-wrapper {
        width: 400px;
        margin-left: 1.0rem;
        overflow-y: visible;
        overflow-x: visible;
        position: relative;
    }

    .phone-wrapper img {
        width: 100%;
        height: auto;
        position: absolute;
        top: -10rem;
        left: 12rem;
    }

    .infra-wrapper {
        width: 500px;
        display: block;
        color: #fff;
        margin: auto;
        position: absolute;
        bottom: -10px;
        left: 0px;
        padding: 50px;
        right: 0px;
        letter-spacing: 1px;
        line-break: initial;
        font-size: 1.05rem;
        text-align: center;
        justify-content: inherit;
    }

    .infra-wrapper h2 {
        line-break: normal;
        padding: 15px;
        margin: 0px;
        /* margin-bottom: 30px; */
        text-align: center;
        font-size: xx-large;
        letter-spacing: 1px;
    }

    /* The Seconf section wrapper start here */
    .second-section-wrapper {
        display: block;
        flex-direction: column;
        margin-top: 2.0rem;
        /* border: 1px solid blue;  */
        height: 800px;
        position: relative;
        text-align: center;
        margin-bottom: 30px;
    }

    .laptop-img-container {
        width: 100%;
        text-align: center;
        margin: auto;

    }

    .illustration-laptop-desktop {
        display: none;
    }

    .laptop-img-container .illustration-laptop-mobile {
        display: block;
        position: absolute;
        left: 0px;
        width: 100%;
        padding: 0px 12px 0px 0px;
        overflow-x: visible;
    }

    .about-wrapper {
        width: 100%;
        display: block;
        text-align: center;
        position: absolute;
        top: 30rem;
        padding: 20px;
    }

    .item-1 h3 {
        font-size: x-large;
    }

    .item-1 p {
        margin-top: 1.5rem;
    }

    .item-2 h3 {
        margin-top: 3rem;
        font-size: x-large;
    }

    .item-2 p {
        margin: 1.5rem 0rem 0;
    }

    /* The footer of mobile viewport starts here */
    footer {
        margin-top: 0px;
        background: hsl(240, 10%, 16%);
        border: solid 1px hsl(240, 10%, 16%);
        border-radius: 0 4.5rem 0 0;
        height: 700px;
        text-align: center;
    }

    .secondary-nav-wrapper {
        margin: 0px 8.5rem;
        display: block;
        margin-top: 3.5rem;

    }

    .secondary-nav-wrapper ul {
        display: block;
        margin-left: 0rem;
        align-items: center;
        align-items: center;
        overflow-x: hidden;
    }

    .secondary-nav-wrapper ul li {
        margin-right: 0rem;
        color: #fff;
        font-family: inherit;
        font-weight: inherit;
    }

    .secondary-nav-wrapper ul li a {
        justify-content: center;
        margin-top: 12px;
        text-align: center;
    }

    .last-li {
        margin-right: 0rem;
    }

    ul .sub-nav {
        margin-left: 0px;
        align-items: start;
    }

    .sub-nav {
        display: block;
        flex-direction: column;
        margin-top: 0rem;

    }

    .sub-nav-header {
        font-weight: 600;
        font-size: 1.20rem;
    }

    .logo-wrapper {
        margin-bottom: 30px;
    }

    .first {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .second {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .third {
        margin-top: 30px;
    }








}